<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>FlirtRate</title>
    <!-- <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" /> -->

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/flirtrate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/cover.css">

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->


    <script type="text/javascript" src="/javascripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/facebook_all.js"></script>-->
    <script type="text/javascript" src="/javascripts/flirtrate.js"></script>

    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
           {
             method: 'stream.publish',
             message: 'Message here.',
             attachment: {
                       name: 'FlirtRate',
        href: 'https://apps.facebook.com/flirtrate/',
        caption: '{*actor*} just found his/her soulmate',
        description: 'Discover Who of your friends you may have more posibilities with.',
        media: [{ type: 'image', src: 'http://res.cloudinary.com/flirtrate/image/facebook/h_400,w_400,g_face,c_fill/g_south,y_-200,l_FlirtRate_mp9ums/' + sorted_list[0]["uid"] +'.png',href: 'http://res.cloudinary.com/flirtrate/image/facebook/h_400,w_400,g_face,c_fill/g_south,y_-200,l_FlirtRate_mp9ums/' + sorted_list[0]["uid"] +'.png'}]
             }
           },
           function(response) {
             if (response && response.post_id) {
               console.log('Post was published.');
             } else {
               console.log('Post was not published.');
             }
           }
         )
        }); 
        $('#shareApp').click(function() {
          FB.ui(
           {
             method: 'stream.publish',
             message: 'Message here.',
             attachment: {
                       name: 'FlirtRate',
        href: 'https://apps.facebook.com/flirtrate/',
        description: 'Discover Who of your friends you may have more posibilities with.',
        media: [{ type: 'image', src: 'http://res.cloudinary.com/flirtrate/image/upload/v1392315220/FlirtRate_logo_lyczfs.png',href: 'http://res.cloudinary.com/flirtrate/image/upload/v1392315220/FlirtRate_logo_lyczfs.png'}]
             }
           },
           function(response) {
             if (response && response.post_id) {
               console.log('Post was published.');
             } else {
               console.log('Post was not published.');
             }
           }
         ); 
          // FB.ui(
          //   {
          //     method : 'feed',
          //     link   : $(this).attr('data-url'),
          //   },
          //   function (response) {
          //     // If response is null the user canceled the dialog
          //     if (response != null) {
          //       logResponse(response);
          //     }
          //   }
          // );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#login').click(function() {
          
          FB.login(function(response) {
           if (response.authResponse) {
             console.log('Welcome!  Fetching your information.... ');
             FB.api('/me', function(response) {
               console.log('Good to see you, ' + response.name + '.');
             });
            } else {
             console.log('User cancelled login or did not fully authorize.');
            }
          });

        });

      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">FlirtRate</a></h3>
              <ul class="nav masthead-nav">
                <li><a href="/disclamer">Disclamer</a></li>
                <li class="active"><a href="/faq">FAQ</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div>
          </div>
          <div class="inner cover">
            <h1 id="title" class="cover-heading">FAQ</h1>
            <br>
            <p style="text-align:justify;" id="description" class="lead">
              <h3>How it Works?</h3>
              <p style="text-align:justify;">
                The algorithm is quite simple, it takes all your page likes
                (interests, movies, music, etc.) and compares with all your
                friends (of the opposite sex or the same if specified).
                And it gets a rate of how much of that likes are the same as
                yours.
              </p><br>
              <h3>Why so many permissions?</h3>
              <p style="text-align:justify;">
                Since it needs all the interests and your friends interests
                it has to have access to all that data.
              </p><br>
              <h3>Do you keep any of my data?</h3>
              <p style="text-align:justify;">
                No, the app doesn't even have a user database, it runs everything
                it need from your browser.
              </p>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">          
              <p>
                <div id="sharecontrols">
                  <a id="shareApp" href="#">
                    Share App
                  <a/>
                </div>
                FlirtRate by <a href="https://twitter.com/mackaber">@Mackaber</a>.
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>